[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Canaima notas
Icon=/usr/share/icons/canaima-iconos/128x128/apps-extra/preferences-certificates.png
Comment=Canaima notas: Cliente canaima notas
Exec=/usr/bin/canaima-notas
Terminal=false
Type=Application
Categories=GNOME;Utility;
StartupNotify=False
Name[es_VE]=Canaima Notas
