[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Documentador de Fallas
Icon=/usr/share/icons/canaima-iconos/apps/48/tomboy.png
Comment=Canaima notas: Cliente canaima notas
Exec=/usr/bin/canaima-notas
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=False
Name[es_VE]=Documentador de Fallas
