[Desktop Entry]
Encoding=UTF-8
Name=Canaima notas
Icon=/usr/share/canaima-notas/canaima-notas.png
Comment=Canaima notas: Cliente canaima notas
Exec=/usr/bin/canaima-notas
Terminal=false
Type=Application
Categories=GNOME;Utility;
StartupNotify=False
