Source: canaima-notas
Section: misc
Priority: optional
Maintainer: Equipo de Desarrollo de Canaima GNU/Linux <desarrolladores@canaima.softwarelibre.gob.ve>
Uploaders: José Miguel Parrella Romero <jparrella@onuva.com>, Carlos David Marrero <cdmarrero2040@gmail.com>, Orlando Andrés Fiol Carballo <ofiol@indesoft.org.ve>, Carlos Alejandro Guerrero Mora <guerrerocarlos@gmail.com>, Diego Alberto Aguilera Zambrano <diegoaguilera85@gmail.com>, Luis Alejandro Martínez Faneyth <martinez.faneyth@gmail.com>, Francisco Javier Vásquez Guerrero  <franjvasquezg@gmail.com>
Build-Depends: cdbs, debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage:  http://canaima.softwarelibre.gob.ve/
Vcs-Git: git://gitorious.org/canaima-gnu-linux/canaima-notas.git
Vcs-Browser: http://gitorious.org/canaima-gnu-linux/canaima-notas/trees/master

Package: canaima-notas
Architecture: all
Depends:  python, python-gtk2, python-gobject, canaima-estilo-visual (>= 3.0), ${shlibs:Depends}, ${misc:Depends}
Description: Cliente para la plataforma http://notas.canaima.softwarelibre.gob.ve/
 A través de Canaima Notas puedes enviar texto a la
 plataforma Canaima, de forma tal que sirva como referencia
 a cualquiera que quiera ayudarte con un tema en particular,
 incluyendo problemas de hardware y/o software en Canaima
 GNU/Linux.
 Opcionalmente puedes elegir varios datos a incluir en la nota, como por ejemplo: Tarjeta gráfica, Kernel, entre otros.
