Source: canaima-notas
Section: misc
Priority: optional
Maintainer: Francisco Javier Vasquez Guerrero <fvasquez@cnti.gob.ve>
Build-Depends: cdbs, debhelper (>= 7)
Standards-Version: 3.7.3
Homepage:  http://canaima.softwarelibre.gob.ve/

Package: canaima-notas
Architecture: all
Depends:  python, python-gtk2, python-gobject
Description: Cliente para la plataforma http://notas.canaima.softwarelibre.gob.ve/
